{
	"name": "8.5guest",
	"target": "linux/amd64",
	"http": "0.0.0.0:50000",
	"workdir": "/home/syz_test/workdir",
	"image": "/home/kvm_autotest_root/images/rhel900-64-virtio-scsi.qcow2",
	"sshkey": "/root/.ssh/id_rsa",
	"syzkaller": "/home/syz_test/gopath/src/github.com/google/syzkaller",
	"suppressions": ["some known bug"],
	"procs": 1,
        "cover": false,
        "reproduce": true,
	"type": "qemu",
	"vm": {
		"count": 1,
		"cpu": 2,
		"mem": 2048,
		"snapshot": true,
		"network_device":   "virtio-net-pci",
		"qemu_args": "-object memory-backend-ram,id=mem0,size=1G -numa node,memdev=mem0 -object memory-backend-ram,id=mem1,size=1G -numa node,memdev=mem1 -device virtio-balloon-pci,id=balloon0 -cpu host -vnc :0 -enable-kvm -M pc"
	}
}

